@model IEnumerable<EasyRent.Models.Testimonials>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <p>
                        <a asp-action="Create">Create New</a>
                    </p>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">

                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Testimony)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.User)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.isApproved)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Testimony)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.isApproved)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                                        @if (!string.IsNullOrEmpty(item.User.ImageName) && User.IsInRole("Admin"))
                                        {
                                            if (item.isApproved == true)
                                            {
                                                <a asp-action="UnShow" asp-route-id="@item.Id">Show in Home page</a>
                                            }
                                            else if (item.isApproved == false)
                                            {
                                                <a asp-action="Show" asp-route-id="@item.Id">Show in Home page</a>
                                            }

                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
