@model EasyRent.Models.Payments

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/AdminMenu.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Payments</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RecieptNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RecieptNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PaidOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PaidOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExpiryDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExpiryDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Property.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tenant.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LandLord)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LandLord.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
