@model EasyRent.ViewModels.UserGalleryViewModel
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/HomeGeneral/Index.cshtml";
}


<!--========================================
=            Section breadcrumb            =
=========================================-->
<div class="sub-banner">
    <div class="overlay">
        <div class="container">
            <div class="breadcrumb-area">
                <div class="top">
                    <h4>Gallery</h4>
                </div>
                <ul class="breadcrumbs">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="active">Gallery</li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--====  End of Section breadcrumb  ====-->
<!--=========================================
=            Section Gallery two            =
==========================================-->

<div class="gallery pdt60 pdbt80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="portfolio-sorting wow fadeInUp delay-08s">
                    <li>

                        <a class="active" data-group="all" href="#">
                            All Properties
                        </a>
                    </li>
                    @foreach (var item in Model.PropertyTypes)
                    {
                        <li>

                            <a data-group="@item.Id" href="#">
                                @item.Name
                            </a>
                        </li>
                    }


                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row portfolio-items wow fadeInUp delay-08s" id="grid">
            @foreach (var item in Model.Properties)
            {
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" data-groups='["@item.PropertyTypeId", "all"]'>
                    <div class="portfolio-item">
                        <a data-caption="My caption" data-fancybox="images" href="~/assets/images/gallery.jpg">
                            <img alt="" src="~/Images/@item.ImageName">
                            <div class="portfolio-overlay">
                                <div class="caption">
                                    @item.Name
                                    <span>
                                        @item.PropertyType.Name
                                    </span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            }


        </div>
    </div>
</div>
<!-- /choose best rooms -->


<div class="bg-theme call-to-actions pdt40 pdbt40">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-call-us">
                    <h3>
                        Do you want rent or sell your property
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="call-us text-right">
                    <h3>
                        Call Us +55 4XX-678-431
                    </h3>
                  
                </div>
            </div>
        </div>
    </div>
</div>



