@model EasyRent.ViewModels.UserHomeViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/HomeGeneral/Index.cshtml";
}


<!--==========Start Slides Area==========-->
<section id="home_slides" class="home_slides">
    <div class="carousel slide" data-ride="carousel" id="home-slider">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li class="active" data-slide-to="0" data-target="#home-slider">
            </li>
            <li data-slide-to="1" data-target="#home-slider">
            </li>
            <li data-slide-to="2" data-target="#home-slider">
            </li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @{
                int i = 0;
                string isactive = "active";

            } 
            @foreach (var item in Model.SliderProperties)
            {
            <div class="item @isactive">
                @if (!string.IsNullOrEmpty(item.ImageName))
                {
                    <img alt="@item.Name" src="~/Images/@item.ImageName">
                }
                else
                {
                    <img alt="@item.Name" src="~/Images/generic-property.jpg">
                }

                <div class="carousel-caption">
                    <h1 class="animated bounceInLeft">
                        @item.Name
                    </h1>
                    <p class="animated bounceInRight">
                        @item.Address
                        <br />
                        <!-- <a class="active animated fadeInUp" href="#">Contact Agent</a> -->
                        <a class="btn button-md button-theme animated fadeInUp" href="@Url.Action("PropertyDetail","Home", new { Id = item.Id})">
                            Learn More
                        </a>
                </div>
            </div>
                isactive = " ";
            }

        </div>
    </div>
</section>
<!--==========End Slides Area==========-->
<!--=========================================
    =            Section catagory listing        =
    ==========================================-->
<div class="wrap-catagory pdt60 pdbt60">
    <div class="container">
        <div class="row wow">
            <div class="title-head">
                <h3 class="text-center mb30 wow fadeInRight delay-07s">
                    Find Locations Popular property <br> in your Country cities
                </h3>
                <div class="c-line c-line-center c-line-short c-dot c-bg-yellow c-bg-after-yellow">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 wow fadeInLeft delay-07s">
                <a class="catagory-locations property-cat-apartments" href="@Url.Action("PropertyFilter","Home", new { Id = "New York"})">
                    <div class="locations-overlay">
                        <div class="locations-text">
                            <h3>
                                New York
                            </h3>
                            <p>
                                The World Largest City
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 wow fadeInRight delay-07s">
                <a class="catagory-locations property-cat-house " href="@Url.Action("PropertyFilter","Home", new { Id = "California"})">
                    <div class="locations-overlay">
                        <div class="locations-text">
                            <h3>
                                California
                            </h3>
                            <p>
                                The World Largest City
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 wow fadeInDown delay-07s">
                <a class="catagory-locations property-cat-ruko wow fadeInUp delay-04s" href="@Url.Action("PropertyFilter","Home", new { Id = "Canada"})">
                    <div class="locations-overlay">
                        <div class="locations-text">
                            <h3>
                                Canada
                            </h3>
                            <p>
                                The World Largest City
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 wow fadeInUp delay-07s">
                <a class="catagory-locations property-cat-tanah" href="@Url.Action("PropertyFilter","Home", new { Id = "Florida"})">
                    <div class="locations-overlay">
                        <div class="locations-text">
                            <h3>
                                Florida
                            </h3>
                            <p>
                                The World Largest City
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 wow fadeInDown delay-07s">
                <a class="catagory-locations property-cat-rent" href="@Url.Action("PropertyFilter","Home", new { Id = "Indonesia"})">
                    <div class="locations-overlay">
                        <div class="locations-text">
                            <h3>
                                Indonesia
                            </h3>
                            <p>
                                The World Largest City
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>

<!--=========================================
    =            Section features           =
    ==========================================-->
<div class="wrap-features">
    <div class="row wow">
        <div class="col-xs-12 col-sm-12 col-md-6 pull-right nopadd">
            <div class="right-redbox">
                <div class="row padd50 text-white">
                    <h3 class="text-center mb30 nopadd">
                        <b>
                            OUR SERVICES
                        </b>
                    </h3>
                    @foreach (var item in Model.OurServices)
                    {
                        <div class="col-xs-6 col-sm-6 col-md-6 wrap-features-listing padd20 wow fadeInLeft delay-07s">
                            <i class="@item.IconName fa-4x">
                            </i>
                            <h3>
                                @item.Title
                            </h3>
                            <p>
                                @Html.Raw(item.Content)
                            </p>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<!--==============================================
    =            Section popular property            =
    ===============================================-->
<div class="wrap-popular-property pdt80 pdbt40">
    <div class="container">
        <div class="row wow">
            <div class="col-xs-12 col-sm-12 col-md-12 wow fadeInLeft delay-07s">
                <h3>
                    Popular Property
                </h3>
                <div class="slider-popular-property owl-carousel owl-theme">
                    @{
                        string isactivez = "active";

                    }
                    @foreach (var item in Model.PopularProperties)
                    {
                        <div class="item @isactivez">
                            <a href="@Url.Action("PropertyDetail","Home", new { Id = item.Id})" target="_blank">
                                <div class="card">
                                    <div class="card-image">
                                        @if (item.isDealClosed == true)
                                        {

                                            <span class="ribbon">
                                                SOLD OUT
                                            </span>
                                        }
                                        <img alt="" class="img-responsive property-image" src="~/Images/@item.ImageName">
                                        <span class="card-title">
                                            @{
                                                string ammount = "$" + item.Price + "  / monthly";
                                                if (item.PropertyModeId == 1)
                                                {
                                                    ammount = "$" + item.Price;


                                                }
                                            }

                                            @ammount

                                        </span>
                                        <span class="card-price">
                                            For @item.PropertyMode.Name
                                        </span>
                                    </div>
                                    <div class="card-content">
                                        <div class="listingInfo">
                                            <div class="vcard">
                                                <span class="label label-success">
                                                    @item.PropertyType.Name
                                                </span>
                                                <div class="title-properti">
                                                    <h4>
                                                        @Html.Raw(item.Description)
                                                    </h4>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-spec">
                                        <div class="area" data-placement="top" data-toggle="tooltip" title="surface area">
                                            <strong>
                                                <i class="fa fa-map-o">
                                                </i>
                                            </strong>
                                            <span class="text">
                                                @item.Area M
                                            </span>
                                            <sup>
                                                2
                                            </sup>
                                        </div>
                                        <div class="area" data-placement="top" data-toggle="tooltip" title="building area">
                                            <strong>
                                                <i class="fa fa-parking">
                                                </i>
                                            </strong>
                                            <span class="text">
                                                @item.Garage Garage(s)
                                            </span>

                                        </div>
                                        <div class="area" data-placement="top" data-toggle="tooltip" title="Bed Room">
                                            <strong>
                                                <i class="fa fa-bed">
                                                </i>
                                            </strong>
                                            <span class="text">
                                                @item.BedRooms Bedrooms
                                            </span>

                                        </div>
                                        <div class="area" data-placement="top" data-toggle="tooltip" title="Bath Room">
                                            <strong>
                                                <i class="fa fa-shower">
                                                </i>
                                            </strong>
                                            <span class="text">
                                                @item.bathrooms Bathrooms
                                            </span>
                                            <sup>

                                            </sup>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                                                    isactivez = "";
                                                }


                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>

<!--==============================================
    =            Section recent property            =
    ===============================================-->
<div class="bg-default wrap-recent-property pdt40 pdbt80 wow fadeInUp delay-08s">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Recent Property ( @Model.RecentProperties.Count() )</h3>
                <div class="recent-property owl-carousel owl-theme">
                    @{
                        string isactives = "active";

                    }
                    @foreach (var item in Model.RecentProperties)
                    {
                        <div class="item @isactives">
                            <a href=" @Url.Action("PropertyDetail", "Home", new { Id = item.Id })">
                                <div class="listing-item compact">
                                    <div class="listing-img-container">
                                        <div class="listing-badges">
                                            <span class="featured">
                                                Featured
                                            </span>
                                            <span>
                                                @item.PropertyMode.Name
                                            </span>
                                        </div>
                                        <div class="listing-img-content">
                                            <span class="listing-compact-title">
                                                @item.Name
                                                <i>

                                                    @{
                                                        string ammount = "$" + item.Price + "  / monthly";
                                                        if (item.PropertyModeId == 1)
                                                        {
                                                            ammount = "$" + item.Price;


                                                        }
                                                    }

                                                    @ammount

                                                </i>
                                            </span>
                                            <ul class="listing-hidden-content">
                                                <li>
                                                    Area
                                                    <span>
                                                        @item.Area sq ft
                                                    </span>
                                                </li>
                                                <li>
                                                    Garage
                                                    <span>
                                                        @item.Garage
                                                    </span>
                                                </li>
                                                <li>
                                                    Beds
                                                    <span>
                                                        @item.BedRooms
                                                    </span>
                                                </li>
                                                <li>
                                                    Baths
                                                    <span>
                                                        @item.bathrooms
                                                    </span>
                                                </li>
                                            </ul>
                                        </div>
                                        <img alt="" src="~/Images/@item.ImageName">
                                    </div>
                                </div>
                            </a>
                        </div>
                                                            isactives = "";
                                                        }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>

<!--===================================
    =            Section counter            =
    ====================================-->
<div class="wrap-count wow fadeInUp delay-08s">
    <div class="container">
        <div class="row count">
            <h3>
                OUR
                <span>
                    ACHIEVEMENTS
                </span>
            </h3>
            @{
                var sell = Model.AllProperties.Where(m => m.PropertyModeId == 1);
                int forsell = sell.Count();
                var rent = Model.AllProperties.Where(m => m.PropertyModeId == 2);
                int forrent = rent.Count();
            }
            <div class="col-md-4 col-sm-4">
                <div class="counter-item">
                    <div class="count-value" data-count="@forsell">
                        <span class="fa fa-home">
                        </span>
                        <span class="start-count">
                          10
                        </span>
                    </div>
                    <p>
                        Listing For Sale
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="counter-item">
                    <div class="count-value" data-count="@forrent">
                        <span class="fa fa-tags">
                        </span>
                        <span class="start-count">
                            10
                        </span>
                    </div>
                    <p>
                        Listing For Rent
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="counter-item">
                    <div class="count-value" data-count="@Model.AllProperties.Select(m => m.UserId).Distinct().Count()">
                        <span class="fa fa-users">
                        </span>
                        <span class="start-count">
                            10
                        </span>
                    </div>
                    <p>
                       Active  Agents &amp; Landlords
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>

<!--=======================================
=            Section Testimoni            =
========================================-->
<div class="testimonial-section">
    <div class="paralax-overlay">
    </div>
    <div class="testimonial-content">
        <div class="container">
            <div class="row wow">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 wow fadeInDown delay-07s">
                    <div class="section-title">
                        <h3>
                            What
                            <span>
                                Client Say
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-push-2 col-md-8 wow fadeInUp delay-07s">
                    <div class="carousel slide" data-ride="carousel" id="indecator">
                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" data-target="#indecator">
                            </li>
                            <li class="" data-slide-to="1" data-target="#indecator">
                            </li>
                            <li class="" data-slide-to="2" data-target="#indecator">
                            </li>
                        </ol>
                        <div class="carousel-inner full_display" role="listbox">
                            @{
                                string isactivef = "active";

                            }
                            @foreach (var item in Model.Testimonials)
                            {
                                <div class="item sngl-testimonial @isactivef">
                                    <div class="sngle-tsmt">
                                        <div class="client-dsc">
                                            <p>
                                                @Html.Raw(item.Testimony)
                                            </p>
                                        </div>
                                        <img alt="" src="~/Images/@item.User.ImageName">
                                        <div class="client-dsc">
                                            <h2>
                                                @item.User.LastName
                                            </h2>

                                        </div>
                                    </div>
                                </div>
                                isactivef = "";
                            }


                        </div>
                        <a class="left left_twit_crousel_btn" data-slide="prev" href="#indecator" role="button">
                            <i class="fa fa-angle-left">
                            </i>
                            <span class="sr-only">
                                Previous
                            </span>
                        </a>
                        <a class="right right_twit_crousel_btn" data-slide="next" href="#indecator" role="button">
                            <i class="fa fa-angle-right">
                            </i>
                            <span class="sr-only">
                                Next
                            </span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix">
</div>
<!--====  End of Section Testimoni  ====-->
<div class="bg-theme call-to-actions pdt40 pdbt40">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-call-us">
                    <h3>
                        Do you want rent or sell your property
                    </h3>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="call-us text-right">
                    <h3>
                        Call Us +55 4XX-678-431
                    </h3>
                    
                </div>
            </div>
        </div>
    </div>
</div>


